*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0
}

h2 {
    margin-bottom: 5px;
}
body {
    background-color:#332D28;
}
#chatroom {
    height: 400px;
    width: 350px;
    padding: 20px;
    border: 2px solid gray;

    display: flex;
    flex-direction: column;
}

#chat {
    flex: 1;
}