
#gamemap{
    height: 704px;
    width: 704px;
    min-width:720px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.wall_block{
    background-image:url('../assets/tiles_6.png');
    background-position:0px 0px;
    height: 64px;
    width: 64px;
    padding: none;
    margin: none;
}
.floor_block{
    background-image:url('../assets/tiles_6.png');
    background-position:64px 0px;
    height: 64px;
    width: 64px;
    padding: none;
    margin: none;
}
.breakable_block{
    background-image:url('../assets/tiles_6.png');
    background-position:128px 0px;
    height: 64px;
    width: 64px;
    padding: none;
    margin: none;
}