.powerup {
    --x-pos: 0;
    --y-pos: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 64px;
    background-image: url("../assets/power_ups.png");
    transform: translate(var(--x-pos), var(--y-pos));
}


.increase_bombs {
    background-position: -128px 0;
}

.increase_flames {
    background-position: 0 0;
}

.increase_speed {
    background-position: -64px 0;
}