.powerup {
    --x-pos: 0;
    --y-pos: 0;
    position: absolute;
    height: 64px;
    width: 64px;
    background-image: url("../assets/power_ups.png");
    transform: translate(var(--x-pos), var(--y-pos));
    
}


.powerup.increase_bombs {
    background-position: -128px 0;
}
.powerup.increase_flames {
    background-position: -64px 0;
}
.powerup.increase_speed {
    background-position: 0 0;
}

