#home {
	display: flex;
}

/* -------------------------------------------------------------------------- */
/*                                monster shit                                */
/* -------------------------------------------------------------------------- */
/* use --x-movement varibale to move monster around screen  on x axis*/
/* use --y-movement varibale to move monster around screen  on y-axis*/
.monster {
	--x-movement: 0;
	--y-movement: 0;

	position: absolute;
	transform: translate(calc(var(--x-movement) * 1px),
			calc(var(--y-movement) * 1px));
	height: 64px;
	width: 64px;
	z-index: 10;

	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

/* -------------------------- change monster color -------------------------- */
#monster-1 {
	background-image: url("../assets/monster_1.png");
}

#monster-2 {
	background-image: url("../assets/monster_2.png");
}

#monster-3 {
	background-image: url("../assets/monster_3.png");
}

#monster-0 {
	background-image: url("../assets/monster_4.png");
}

/* ---------- animation timing helps start or stop the animation ---------- */
.monster-up,
.monster-down,
.monster-left,
.monster-right {
	animation-timing-function: steps(6);
}

.monster-up-stop,
.monster-down-stop,
.monster-left-stop,
.monster-right-stop {
	animation-timing-function: steps(1);
}

/* ----------- animation name controlls which animation is played ----------- */
.monster-up,
.monster-up-stop {
	animation-name: monster-up;
}

.monster-down,
.monster-down-stop {
	animation-name: monster-down;
}

.monster-right,
.monster-right-stop {
	animation-name: monster-right;
}

.monster-left,
.monster-left-stop {
	animation-name: monster-left;
}

/* -------------------- loop through monster spritesheet -------------------- */
@keyframes monster-left {
	from {
		background-position: 0px 0px;
	}

	to {
		background-position: -384px 0px;
	}
}

@keyframes monster-up {
	from {
		background-position: 0px 64px;
	}

	to {
		background-position: -384px 64px;
	}
}

@keyframes monster-right {
	from {
		background-position: 0px 128px;
	}

	to {
		background-position: -384px 128px;
	}
}

@keyframes monster-down {
	from {
		background-position: 0px 192px;
	}

	to {
		background-position: -384px 192px;
	}
}

/* -------------------------------------------------------------------------- */
/*                                     bomb                                   */
/* -------------------------------------------------------------------------- */
.bomb {
	--x: 0;

	--x-pos: 0;
	--y-pos: 0;

	position: absolute;
	background-image: url("../assets/bomb.png");
	background-position: calc(var(--x) * -1px) 0px;
	transform: translate(calc(var(--x-pos) * 1px), calc(var(--y-pos) * 1px));
	height: 64px;
	width: 64px;
	z-index: 11;
	animation-name: bombAnimation;
	animation-duration: 500ms;
	animation-timing-function: step-end;
	animation-iteration-count: infinite;

}

@keyframes bombAnimation {
	0% {
		background-position: 0px 0px;
	}

	33% {
		background-position: 64px 0px;
	}

	66% {
		background-position: 128px 0px;
	}
}

/* -------------------------------------------------------------------------- */
/*                                    fire                                    */
/* -------------------------------------------------------------------------- */

.explosion {
    position:absolute;
}

@keyframes explosion {
  from{ background-position: calc(var(--pos-x) * -1px) calc(var(--pos-y) * -1px);}
  50%{ background-position: calc(var(--pos-x-target) * -1px) calc(var(--pos-y) * -1px);}
  90%{background-position: calc(var(--pos-x) * -1px) calc(var(--pos-y) * -1px);}
  to{visibility: hidden;}
}
.fire-0{
	--pos-x : 128; 
	--pos-x-target : 1088;
	--pos-y:128;

     background-position: -128px -128px;
     animation-name: explosion;
}

.fire-1{
	--pos-x : 128; 
	--pos-x-target : 1088;
	--pos-y:64;

     background-position: -128px -64px;
     animation-name: explosion;
}

.fire-2{
	--pos-x : 192; 
	--pos-x-target : 1152;
	--pos-y:128;

     background-position: -192px -128px;
     animation-name: explosion;
}

.fire-3{
	--pos-x : 128; 
	--pos-x-target : 1088;
	--pos-y:192;

     background-position: -128px -192px;
     animation-name: explosion;
}

.fire-4{
	--pos-x : 64; 
	--pos-x-target : 1024;
	--pos-y:128;

     background-position: -64px -128px;
     animation-name: explosion;
}

.fire-5{
	--pos-x : 128; 
	--pos-x-target : 1088;
	--pos-y:0;
     background-position: -128px -0px;
     animation-name: explosion;
}

.fire-6{
	--pos-x : 256; 
	--pos-x-target : 1216;
	--pos-y:128;

     background-position: -256px -128px;
     animation-name: explosion;
}

.fire-7{
	--pos-x : 128; 
	--pos-x-target : 1088;
	--pos-y:256;

     background-position: -128px -256px;
     animation-name: explosion;
}

.fire-8{
	--pos-x : 0; 
	--pos-x-target : 960;
	--pos-y:128;

     background-position: -0px -128px;
     animation-name: explosion;
}

.explosion div{
    --x: 0;
    --y: 0;
    position:absolute;
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
     background-image: url('../assets/fire.png');
    height: 64px;
    width: 64px;

    animation-timing-function: steps(3);
    animation-duration:0.9s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
