#home {
    display: flex;
}

.monster {
    --x-movement: 0;
    --y-movement: 0;

    position: absolute;
    transform: translate(calc(var(--x-movement) * 1px), calc(var(--y-movement) * 1px));
    height: 64px;
    width: 64px;
    z-index: 10;

    animation-iteration-count: infinite;
}
.monster-up, .monster-down, .monster-left,.monster-right{
    animation-duration:0.5s;
    animation-timing-function: steps(6);
}
.monster-up-stop, .monster-down-stop, .monster-left-stop,.monster-right-stop{
    animation-duration:0.5s;
    animation-timing-function: steps(1);
}
.monster-up, .monster-up-stop{
    animation-name: monster-up;
}
.monster-down, .monster-down-stop{
    animation-name: monster-down;
}
.monster-right, .monster-right-stop{
    animation-name: monster-right;
}
.monster-left, .monster-left-stop{
    animation-name: monster-left;
}
#monster-1{
   background-image: url('../assets/monster_1.png'); 
}
#monster-2{
   background-image: url('../assets/monster_2.png'); 
}
#monster-3{
   background-image: url('../assets/monster_3.png'); 
}
#monster-0{
   background-image: url('../assets/monster_4.png'); 
}

/* animations for monster movement in spritesheet */
@keyframes monster-left {
  from { background-position: 0px 0px; }
  to { background-position: -384px 0px; }
}

@keyframes monster-up {
  from { background-position: 0px 64px; }
  to { background-position: -384px 64px; }
}

@keyframes monster-right {
  from { background-position: 0px 128px; }
  to { background-position: -384px 128px; }
}

@keyframes monster-down {
  from { background-position: 0px 192px; }
  to { background-position: -384px 192px; }
}

.bomb {
    --x: 0;

    --x-pos: 0;
    --y-pos: 0;

    position: absolute;
    background-image: url('../assets/bomb.png');
    background-position: calc(var(--x) * -1px) 0px;
    transform: translate(calc(var(--x-pos) * 1px), calc(var(--y-pos) * 1px));
    height: 64px;
    width: 64px;
}

.fire {
    --x: 0;

    background-image: url('../assets/fire.png');
    background-position: calc(var(--x) * -1px) 0px;
    /* background-size: 2128px; */
    height: 320px;
    width: 320px;
}